.massive-container {
    background-color: white;
}

.main {
    width: 80%;

    padding: 60px 0px;
    text-align: justify;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}